body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wbdv-sticky-nav-bar {
  right:50px;
  bottom:20px;
  position: fixed;
  z-index: 1;
}

.wbdv-editor-label {
  right:20px;
  bottom:20px;
}

.wbdv-green {
  color: green;
}

.wbdv-blue {
  color: blue;
}

.wbdv-red {
  color: red;
}